/* font-family: 'Water Brush', cursive; */
/* font-family: 'Alegreya', serif; */
/* font-family: 'Roboto Mono', monospace; */

body {
    margin: 0;
}
#pirmas {
    background-image: url(pictures/pirmas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 5px;
}
#antras {
    background-image: url(pictures/img_texture.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
#trecias {
    background-image: url(pictures/img.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#ketvirtas {
    background-image: url(pictures/img\ \(1\).jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}
#pirmas header {
    display: grid;
    grid-template-columns: 0.8fr 2fr 0.8fr;
    background-color: rgb(93, 88, 88);
    opacity: 0.5;
    color: white;
    grid-template-rows: 80px;
    align-items: center;
}
#pirmas header div:first-child {
    justify-self: right;
}
#pirmas header div:nth-child(2) {
    justify-self: center;
}
#pirmas header div:nth-child(2)>a {
    text-decoration: none;
    font-family: 'Alegreya', serif;
    font-size: 18px;
    color: white;
}
.fa {
    padding: 0 15px 0 15px;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}
#pirmas main {
    display: grid;
    height: calc(100% - 130px);
    grid-template-columns: 1fr;
    grid-template-rows: 40% 16% 16% 28%;
}
#pirmas main div:first-child {
    font-family: 'Alegreya', serif;
    font-size: 100px;
    font-weight: bold;
    color: white;
    text-align: center;
    align-self: flex-end;
}
#pirmas main div:nth-child(2) {
    font-family: 'Alegreya', serif;
    grid-row-start: 2;
    color: white;
    text-align: center;
    font-size: 50px;
    align-self: center;
}
#pirmas main div:nth-child(3) {
    font-family: 'Roboto Mono', monospace;
    grid-row-start: 3;
    color: white;
    text-align: center;
    font-size: 25px;
    align-self: center;
}
#pirmas main div:nth-child(4) {
    grid-row-start: 4;
    justify-self: center;
    align-self: center;
}
#pirmas button {
    width: 150px;
    height: 60px;
    background-color: rgb(93, 88, 88);
    opacity: 0.5;
    color: white;
    font-family: 'Alegreya', serif;
    font-size: 20px;
    border: 2px dashed white;
    cursor: pointer;
}
#pirmas .apacia {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    height: 50px;
}
#pirmas .apacia img {
    height: 100px;
    width: 100px;
}
.kaire {
    margin-left: 10%;
}
.art-of-cakes {
    margin-top: 15%;
    margin-bottom: 5%;
    text-align: center;
}
.upper {
    font-family: 'Alegreya', serif;
    font-size: 50px;
}
.lower {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    color: brown;
}
.lorem {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}
.chef-cook {
    font-family: 'Alegreya', serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.benito {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.benito div:nth-child(2) {
    justify-self: center;
}
.benito div:first-child {
    font-family: 'Alegreya', serif; 
    font-size: 25px; 
    border-bottom: 2px solid black; 
    border-top: 2px solid black; 
    align-self: center; 
    justify-self: right;
}
.benito div:nth-child(3) {
    font-family: 'Alegreya', serif; 
    font-size: 25px; 
    border-bottom: 2px solid black; 
    border-top: 2px solid black; 
    align-self: center; 
    justify-self: left;
}
.unique {
    font-family: 'Water Brush', cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.desine {
    display: grid;
    margin: 10%;
    grid-template-columns: 46% 46%;
    grid-template-rows: 46% 46%;
    column-gap: 8%;
    row-gap: 8%;
    position: relative;
}
#antras div>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.vidurys, .vidurys1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 40%;
    width: 40%;
    margin: auto;
}
.vidurys1 {
    font-family: 'Alegreya', serif;
    font-size: 25px;
    font-weight: bold;
    color: brown;
    opacity: 0.5;
    text-align: center;
    height: fit-content;
    width: fit-content;
}
.kaire-2 {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 10% 80% 10%;
}
.kaire-2>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-column-start: 2;
    grid-row-start: 2;
    box-shadow: 5px 10px 30px #888888;
}
.desine-2 {
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 10% 30% 25% 25% 10%;
}
.deze {
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: white;
    box-shadow: 5px 10px 30px #888888;
}
.tasty, .text, .options {
    margin: 12%;
}
.text {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    text-align: left;
}
.options {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    column-gap: 3%;
}
.options div>img {
    height: 80px;
    width: 80px;
}
.options div:first-child, div:nth-child(5) {
    align-self: center;
} 
.left {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 50%;
    opacity: 0.5;
}
  
.left:after {
    content: '';
    display: inline-block;
    margin-top: 5.5px;
    margin-left: 6.5px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.8;
}
.right {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 50%;
}
  
.right:after {
    content: '';
    display: inline-block;
    margin-top: 5px;
    margin-left: 4px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}